@page "/filmovi"

@using MoviesMauiApp.Components

<h1>Filmovi</h1>


<FilmoviLista @bind-IzabraniFilmId="IdZaIzabraniFilm" />

<FilmDetalji FilmId="@IdZaIzabraniFilm" />


@code {
    private int IdZaIzabraniFilm { get; set; } = -1;
}